---
title: 'Amplimotum'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1350">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome To Stitch Agency</span>
            <h1 class="cs-title">Small Business Web Design & Development</h1>
            <p class="cs-text">
                No page builders or WordPress - We offer superior 100% hand-coded websites with starting at $150/mo.
            </p>
            <a href="" class="cs-button-solid">Free Consultation</a>
        </div>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1358">
    <div class="cs-container">
        <picture class="cs-picture cs-picture1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer1.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer1.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer1.jpg" alt="meeting" width="305" height="339">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">About Company</span>
            <h2 class="cs-title">We're delighted to provide excellent customer service</h2>
            <h3 class="cs-h3">
                We’re committed to delivering the best digital 
                marketing for businesses
            </h3>
            <p class="cs-text">
                There are many variations of passages of Lorem Ipsumavailable, but the majority have suffered alteration in someform, simply free text by injected humour, or randomised.
            </p>
            <a href="" class="cs-button-solid">Discover More</a>
        </div>
        <picture class="cs-picture cs-picture2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer2.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/computer2.jpg" alt="meeting" width="305" height="339">
        </picture>
    </div>
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1377">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">We’re Commited to Deliver Top High Quality Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-briefcase.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Growing Businesses</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-chart.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Building Relationships</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-thumb.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Operational Excellence</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-dial.svg" alt="icon" width="48" height="48">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Lifetime Maintenance</h3>
                    <picture class="cs-arrow-wrapper">
                        <img class="cs-arrow" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                    alt="arrow" width="413" height="374" aria-hidden="true">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                
            {% include 'components/cta.html' %}
{% endblock %}